<input type="text" [(ngModel)]="title">
{{title}}

<div [ngSwitch]="title">

</div>

<!-- <div [ngSwitch]="title">
    <p *ngSwitchCase="'erick'">ESTE ES ERICK</p>
    <p *ngSwitchCase="'pepe'">ESTE ES PEPE</p>
    <p *ngSwitchCase="'perez'">ESTE ES PEREZ</p>
    <p *ngSwitchDefault>NO HAY MATCH</p>
</div>

<button (click)="addItem()">ADD ITEM</button>

<app-product></app-product>
<ul>
    <li *ngIf="items.length === 0">LA LISTA ESTA VACIA</li>
    <li *ngFor="let name of items;index as i">
        {{name}}
        <button (click)="deleteItem(i)">DELETE ITEM</button>
    </li>
</ul>

<div *ngFor="let product of products">
    {{ product.title }}
    <img [src]="product.image" alt="">
    {{ product.price }}
</div> -->